@font-face {
    font-family: Raleway;
    src: url(assets/Raleway/Raleway-Regular.ttf);
  }
  
  @font-face {
    font-family: "Raleway bold";
    src: url(assets/Raleway/Raleway-Bold.ttf);
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-image: url(./images/bg-mobile.png);
    background-repeat: no-repeat;
    background-position: bottom;
    font-family: Raleway;
    background-color: hsl(229, 57%, 11%);
    overflow-x: hidden;
  }
  
  * {
    font-size: 14px;
    box-sizing: border-box;
    color: hsl(243, 100%, 93%);
  }
  
  .container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
  }
  
  .logo_container {
    /* margin-bottom: 20px; */
    background-color: hsl(228, 56%, 26%);
    padding: 40px 30px;
    border-radius: 10px;
    border-top-right-radius: 90px;
    display: inline-block;
    min-width: 310px;
  }
  
  .icon_list {
    display: flex;
    margin-top: 30px;
  }
  .icon_container {
    background-color: hsl(229, 57%, 11%);
    border-radius: 10px;
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
  }
  
  .storage_container {
    margin-top: 15px;
    background-color: hsl(228, 56%, 26%);
    padding: 20px 30px 40px 30px;
    border-radius: 10px;
    position: relative;
  }
  
  strong{
    font-family: "Raleway bold";
    font-weight: normal;
  }
  
  .storage_container > p:first-child{
    text-align: center;
  }
  
  .progress_bar {
    background-color: hsl(229, 57%, 11%);
    height: 20px;
    width: 250px;
    border-radius: 20px;
    padding: 2px 3px;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  
  .consumed_data {
    height: 100%;
    background-image: linear-gradient(
      to right,
      hsl(6, 100%, 80%),
      hsl(335, 100%, 65%)
    );
    width: 70%;
    border-radius: inherit;
    position: relative;
    padding: 2px;
  }
  
  .handler {
    position: absolute;
    right: 2px;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    background-color: white;
  }
  
  .data_left {
    background-color: white;
    border-radius: 10px;
    color: black;
    display: inline-block;
    padding: 13px 25px;
    position: absolute;
    left: 20%;
    bottom: -35px;
  }
  
  .data_left > span:first-child {
    font-size: 38px;
    color: black;
    font-family: "Raleway bold";
    margin-right: 5px;
  }
  
  .data_left > span:last-child {
    vertical-align: super;
    line-height: 28px;
    text-transform: uppercase;
    color: hsl(229, 7%, 55%);
    font-family: "Raleway bold";
    letter-spacing: 1.5px;
    font-size: 11px;
  }
  
  .details > * {
    font-size: 11px;
    font-family: "Raleway bold";
  }
  
  @media all and (min-width: 426px) {
    body {
      background-image: url(./images/bg-desktop.png);
    }
  
    .container {
      flex-direction: row;
    }
  
    .logo_container{
      margin-right: 20px;
    }
  
    .storage_container{
      margin-top: 45px;
    }
  
    .storage_container > p:first-child{
      text-align: left;
    }
  
    .data_left {
      right: 35px;
      top: -40px;
      bottom: unset;
      left: unset;
      border-bottom-right-radius: 0;
    }
  
    .data_left::after {
      content: "";
      background-color: white;
      position: absolute;
      bottom: -20px;
      right: 0px;
      border-top: 20px solid white;
      border-left: 20px solid #1e2c67;
    }
  
    .progress_bar {
      width: 500px;
    }
  }
  .attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 10px;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }